<div class="grid-container container">
<h2 class="text-muted">CHANGE YOUR PASSWORD</h2>
<input type="" placeholder="Current Password" class="form-control mb-3 w-50" id="currentPassword" (ngModel)="currentPassword" name="currentPassword" >

<input type="text" placeholder="New Password" class="form-control mb-3 w-50" id="newPassword" (ngModel)="newPassword" name="newPassword" >

<input type="text" placeholder="Confirm Password" class="form-control mb-3 w-50" id="ConfirmPassword" (ngModel)="ConfirmPassword" name="ConfirmPassword" >
<button class="btn btn-warning" (click)="changePassword()">Save Password</button>
</div>
<!-- <label class="pb-2 inp-label" for="email">Email Address</label>
<input type="email" id="email" name="email" placeholder="Email address" class="form-control"  [(ngModel)]="email"> -->
