<div class="container" style="margin-top: 100px;">
  <app-loader style="margin-top: -35px;" *ngIf="loading"></app-loader>
  <div class="container d-flex shadowHeader">
    <h2 style="font-size: 25px; padding-left: 10px;">My Courses</h2>
    <button mat-raised-button style="background-color: rgb(254, 101, 12); color: #fff; height: fit-content; margin-right: 10px;" class="ms-auto mt-1" routerLink="/user/add-course">
      <mat-icon>note_add</mat-icon>
      <span style="padding: 5px; font-size: 15px;">Add new</span>
    </button>
  </div>

  <div *ngIf="!loading">
    <div class="container row mx-auto" *ngIf="courses.length!=0" style="max-height: 75vh; overflow-y: auto;">
      <div class="p-md-2 mb-2 col-12 col-md-4 col-lg-4" *ngFor="let i = index; let course of courses">
        <div class="card hover h-100">
          <img src={{course.coverImage}} class="card-img-top" style="height: 145px; object-fit: cover;" alt="...">
          <div class="card-body">
            <div class="d-flex">
              <p class="course-title me-auto" style="font-weight: 500; font-size: 20px;">{{course.courseName}} </p>
              <button class="ms-auto" style="margin-top: -10px" mat-icon-button  [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu = "matMenu">
                <button mat-menu-item (click)="viewResourcesDialog(course._id)">View Resources</button>
                <button mat-menu-item (click)="openDetailsDialog(course)">Edit course details</button>
                <button mat-menu-item (click)="openPriceDialog(course)">Edit course price</button>
                <button mat-menu-item (click)="openDeleteCourseDialog(course._id)">Delete Course</button>
              </mat-menu>
            </div>
            <small class="card-text" style="font-size: 15px;">{{course.courseDescription}}</small>
            <div class="course-info mt-4">
              <div class="d-flex">
                <div class="me-auto d-flex">
                    <mat-icon class="me-auto" style="color: rgb(254, 101, 12);">layers</mat-icon>
                    <p class="ms-auto">12 sections</p>
                </div>
                <div class="ms-auto d-flex">
                  <mat-icon class="me-auto" style="color: rgb(254, 101, 12);">access_alarm</mat-icon>
                  <p class="ms-auto">3 hr 30 min</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<ng-template #allCourses *ngIf="courses.length==0">
  <div >
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../assets/3973481.jpg" alt="" style="object-fit: cover; height:  300px;"> <br>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <p class="mx-auto fw-bold fs-5">You have no courses yet...</p>
    </div>
  </div>
  </ng-template>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>





