li a{
    font-size: 15px;
    margin-right: 35px;
}

.activeRoute {
    color: rgb(255,90,44) !important;
}

.login{
    background-color: white;
    color: rgb(255,90,44);
    transition: all 0.5s 0s ease-in-out;
}

.login:hover{
    color: white;
    background-color: rgb(255,90,44);
}


.signup{
    background-color: rgb(255,90,44);
    color: white;
    transition: all 0.5s 0s ease-in-out;margin-left: 10px !important;
}

.activeButton {
    color: rgb(255,90,44);
}

