<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center mr-4" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 mt-md-2">
          <li class="nav-item">
            <a routerLink="/home" [routerLinkActive]="['activeRoute']" class="nav-link" >HOME</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" [routerLinkActive]="['activeRoute']" class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/course" [routerLinkActive]="['activeRoute']" >COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" [routerLinkActive]="['activeRoute']">CONTACT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" style="font-size: 10px;">
              <mat-icon>search</mat-icon>
            </a>
          </li>
          <li class="nav-item" style=" margin-left: -30px; font-size: 10px;">
            <a class="nav-link" routerLink="/cart" [routerLinkActive]="['activeRoute']">
              <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
              <span class="cdk-visually-hidden">
                Example with a home icon with overlaid badge showing the number 15
              </span>
            </a>
          </li>
        </ul>
      <!-- <img id="search" src="/assets/images/logos/Search_52px.png" alt="">
      <img id="cart"  src="/assets/images/logos/Shopping Bag_64px.png" alt=""> -->
      <button routerLink="/login" class="login shadow-sm" mat-raised-button>Login</button>
      <button routerLink="/signup" class="signup shadow-sm" mat-raised-button>Signup</button>
    </div>
  </div>
</nav>
