<div class="container" style="margin-top:70px ;">
    <div class="col-md-12">
      <label class="pb-2 inp-label" for="email">Enter Account Number</label>
      <input type="email" id="" name="number" placeholder="Account number" class="form-control">
    
      <label class="pb-2 inp-label" for="amount">Amount</label>
      <input type="amount" id="amount" name="amount" placeholder="Amount" class="form-control">
    </div><br>
    <button type="submit" class="btn btn-dark">Proceed</button>
    </div>