<div class="container" style="margin-top: 100px;">
  <app-loader style="margin-top: -35px;" *ngIf="loading"></app-loader>
  <div class="container mx-auto row">
    <h2 style="font-size: 25px;">Courses</h2>
  </div>
  
  <div class="container row mx-auto" *ngIf="!loading" style="max-height: 75vh; overflow-y: auto;">
    <div class="p-md-2 mb-2 col-12 col-md-4 col-lg-4" *ngFor="let i = index; let course of allCourses">
      <div class="card hover h-100">
        <img src={{course.coverImage}} class="card-img-top" style="height: 145px; object-fit: cover" alt="...">
        <div class="card-body">
          <div class="d-flex">
            <p class="course-title me-auto" style="font-weight: 500; font-size: 20px;">{{course.courseName}} </p>
            <p class="course-paid ms-auto" style="font-weight: 500; font-size: 15px;">
              <!-- {{course.free_paid | }}  -->
              <!-- &#8358; -->
              {{"2000" | currency:"NGN":"symbol"}}</p>
          </div>  
          <small class="card-text" style="font-size: 15px;">{{course.courseDescription}}</small>
          <div class="course-info mt-4 mb-auto d-flex w-100">
            <button class="me-auto d-none d-md-none d-lg-block" mat-raised-button style="color:rgb(254, 101, 12);" (click)="courseDetails(course._id)">See course detials</button>
            <button class="me-auto d-block d-md-block d-lg-none" mat-icon-button style="color:rgb(254, 101, 12);" (click)="courseDetails(course._id)">
              <mat-icon>more_vert</mat-icon>
            </button>
            <!-- <mat-icon class="me-auto" style="color: rgb(254, 101, 12);">more_vert</mat-icon> -->
            <button class="text-light ms-auto d-none d-md-none d-lg-block" mat-raised-button style="background-color: rgb(254, 101, 12)" (click)="addToCart(course)">Add to Cart</button>
            <button class="ms-auto d-block d-md-block d-lg-none" mat-icon-button style="color:rgb(254, 101, 12);">
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 576 512"
                style="height: 25px; width: 25px;"
                fill="rgb(254, 101, 12)"
              >
                <path 
                  d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button (click)="openSnackBar('Item added to your cart', 'close')">Open snackbar</button> -->
</div>