<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let mainCard of mainCards | async" [colspan]="mainCard.cols" [rowspan]="mainCard.rows">
      <mat-card class="main-cards">
        <mat-card-content>
          <p class="card-title text-secondary">{{mainCard.title}}</p>
          <div class="row">
            <div class="col-6">
              <p style="font-size: 25px; padding-bottom: 10px;">
                {{mainCard.content}}
              </p>
            </div>
            <div class="col-6">
              <mat-icon class="float-left">{{mainCard.icon}}</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- GRAPH -->
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


  <!-- TRANSACTION HISTORY -->
  <div class="mt-2">
    <app-transaction-history></app-transaction-history>
  </div>
</div>
