<app-navbar></app-navbar>
<section class="header-section">
    <h1 data-aos="fade-down" data-aos-duration="3000">Take the world's best courses online</h1>
    <p data-aos="fade-up" data-aos-duration="3000">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus enim, praesentium saepe odit ducimus voluptatum similique minima. Eaque, praesentium exercitationem excepturi</p>

    <button class="d-flex get-started" mat-button data-aos="fade-in" data-aos-duration="3000">
        <span class="me-auto float-left">Get started</span>
        <span class="ms-auto ml-5" >
            <mat-icon class="arrow-right">arrow_right_alt</mat-icon>
            <!-- <span class="arrow-right" style="margin-left: 20px; font-size: 15px; font-weight: 600;">&rarr;</span> -->
        </span>
    </button>
</section>

<!-- CATEGORIES SECTION -->
<app-categories data-aos="fade-down" data-aos-duration="3000"></app-categories>

<!-- OUR BEST STUDENTS SECTION -->
<app-our-best></app-our-best>

<!-- FOOTER SECTION -->
<app-footer></app-footer>


   
 
