<!-- <div class="container-fluid grid-cont"></div> -->
<app-navbar></app-navbar>

<header>
    <h1 data-aos="fade-down" data-aos-delay="400" data-aos-duration="2000">Take The World's Best <br> <br> Course Online.</h1>
    <p data-aos="fade-in" data-aos-delay="500" data-aos-duration="1500">Ante amet vitae vulputate odio nulla vel pretium pulvinar aenean.
    <br> Poncus eget adipiscing etiam arcu Ultricies.</p>

    <button routerLink="/signup" id="start" data-aos="fade-in" data-aos-delay="400" data-aos-duration="3000">START MY FREE MONTH</button>
</header>

<!-- CATEGORIES SECTION -->
<app-categories data-aos="fade-down" data-aos-duration="3000"></app-categories>

<!-- OUR BEST STUDENTS SECTION -->
<app-our-best></app-our-best>

<!-- FOOTER SECTION -->
<app-footer></app-footer>


   
 
