<!-- <div class="container-fluid grid-cont"></div> -->
<app-navbar></app-navbar>

<header>
    <h1>Take The World's Best <br> <br> Course Online.</h1>
    <p>Ante amet vitae vulputate odio nulla vel pretium pulvinar aenean.
    <br> Poncus eget adipiscing etiam arcu Ultricies.</p>

    <button routerLink="/signup" id="start">START MY FREE MONTH</button>
</header>

<!-- CATEGORIES SECTION -->
    <app-categories></app-categories>
        
<!-- <div id="thinking" class="row w-100">
            <div class="col-sm-6">
                <img class="bigger" src="/assets/images/banner/about_thinking.jpg" />
            </div>

            <div class="col-sm-6">
                <h2 class="heading">Doing The Right <br> Thing At The Right <br> Time.</h2> <br>
                <h3 id="number"><a id="number2">01. </a>Experience</h3> <br>
                <h5 id="content">Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. <br> Pede phasellus eget maecenas.</h5><br>

                <h3 id="number"><a id="number2">02. </a>Education</h3> <br>
                <h5 id="content">Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. <br> Pede phasellus eget maecenas.</h5><br>
            
                <h3 id="number"><a id="number2">01. </a>Certificate</h3> <br>
                <h5 id="content">Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. <br> Pede phasellus eget maecenas.</h5>
            </div>
</div>
 <br> <br>

    <div class="container">
            <h2 id="tones">Our Popular Courses </h2>
            <h5 id="popular-content">Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget. Etiam <br> 
                maecenas vel vici quis dictum rutrum nec nisi et.</h5> <br>

        <div class="row justify-content-center">

            <div class="col-sm-3">
                <div class="card text-dark mt-2"> 

                    <img class="smaller" src="/assets/images/courses/courses_1.jpg" />
                    <div class="free">150$</div><br>
                    <p id="">Design</p>
                        <p id="">Over 700 Courses</p>
                        <div class="title">
                            <h4>Make Better Decisions</h4>
                            <h6>Teacher - <a href="">Janet Oduleke</a> </h6>
                            <div id="icon">

                                <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                                <a id="popular-content"> 180 Days</a> 
                                <button id="cart">ADD TO CART</button>
                            </div>
                            
                        </div>
                    </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-dark mt-2"> 
                    <img class="smaller" src="/assets/images/courses/courses_2.jpg" />
                    <div class="free">Free</div><br>
                    <div class="title">
                        <h4>How To Be A Speaker</h4>
                        <h6>Teacher - <a href="">Fiyinfolowa James</a> </h6>
                        <div id="icon">

                            <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                            <a id="popular-content"> 140 Days</a> 
                            <button id="cart">ADD TO CART</button>
                        </div>
                        
                    </div>
                    </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-dark  mt-2"> 
                    <img class="smaller" src="/assets/images/courses/courses_3.jpg" />
                    <div class="free">120$</div><br>
                    <div class="title">
                        <h4>Network Introductions</h4>
                        <h6>Teacher - <a href="">Paul Isola</a> </h6>
                        <div id="icon">

                            <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                            <a id="popular-content"> 180 Days</a> 
                            <button id="cart">ADD TO CART</button>
                        </div>
                        
                    </div>
                    </div>
            </div>

        </div> <br>
        <div class="row justify-content-center">

            <div class="col-sm-3">
                <div class="card text-dark mt-2"> 
                    <img class="smaller" src="/assets/images/courses/courses_4.jpg" />
                    <div class="free">250$</div><br>
                    <div class="title">
                        <h4>Brand Management</h4>
                        <h6>Teacher - <a href="">Faith Aluko</a> </h6>
                        <div id="icon">

                            <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                            <a id="popular-content"> 130 Days</a> 
                            <button id="cart">ADD TO CART</button>
                        </div>
                        
                    </div>
                    </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-dark mt-2"> 
                    <img class="smaller" src="/assets/images/courses/courses_5.jpg" />
                    <div class="free">180$</div> <br>
                    <div class="title">
                        <h4>Moralities Of Everyday</h4>
                        <h6>Teacher - <a href="">Janet Oduleke</a> </h6>
                        <div id="icon">

                            <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                            <a id="popular-content"> 190 Days</a> 
                            <button id="cart">ADD TO CART</button>
                        </div>
                        
                    </div>
                    </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-dark mt-2"> 
                    <img class="smaller" src="/assets/images/courses/courses_6.jpg" />
                    <div class="free">130$</div><br>
                    <div class="title">
                        <h4>Life Coach Training</h4>
                        <h6>Teacher - <a href="">Iyanu Akinyemi</a> </h6>
                        <div id="icon">

                            <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                            <a id="popular-content"> 150 Days</a> 
                            <button id="cart">ADD TO CART</button>
                        </div>
                        
                    </div>
                    </div>
            </div>

        </div>
   </div> 
   <br> <br> <br> <br> <br> <br> <br> <br>

    <section>
        <div class="container" id="online">
            <div class="shape_video">
                <img id="watch3" src="assets/images/shapes/video_2.png" alt="" class="shape_2">        
        </div>

        <div class="row justify-content-center" id="counts">
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 counter_single_wrapper" id="counter_single_wrapper">
				<div class="section count_single">
					<div class="project-count counter" id="counter">7096</div>
					<span id="satis">Active students</span>
				</div>
			</div>

			<div class="col-6 col-sm-6 col-md-3 col-lg-3 counter_single_wrapper" id="counter_single_wrapper">
				<div class="section count_single" >
					<div class="project-count counter" id="counter">508</div>
					<span id="satis">Online Courses</span>
				</div>  
			</div>  

			<div class="col-6 col-sm-6 col-md-3 col-lg-3 counter_single_wrapper" id="counter_single_wrapper">
				<div class="section count_single">
					<div class="project-count"><span class="" id="counter">100</span><span id="counter" class="count_icon">%</span></div>
					<span id="satis">Satisfaction</span>
				</div>
			</div>

			<div class="col-6 col-sm-6 col-md-3 col-lg-3 counter_single_wrapper">
				<div class="section count_single">
					<div class="project-count counter" id="counter">70</div>
					<span id="satis">Fraduates</span>
				</div>  
			</div>  
		</div>


            <div class="video_wrapper">
                <div class="video_banner">
                    
                    
                    <img id="watch0" src="assets/images/shapes/video_1.png" alt="" class="shape_1"> 
                    <h2 class="sub_title">Watch Online Video</h2>
                    <img id="watch1" src="/assets/images/banner/video_mockup.png" alt="">
                     <div class="video_view_btn">
                         <a id="watch2" href="https://www.youtube.com/watch?v=zoQ8C0r6Djw" class="video-iframe"><i class="flaticon-play-button"></i></a>
                     </div>
                    </div>
                </div>
            </div>
    </section>
     <br> <br> <br> <br> <br> <br> -->


<!-- OUR BEST STUDENTS SECTION -->
<app-our-best></app-our-best>

<!-- FOOTER SECTION -->
<app-footer></app-footer>


   
 
